body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.img-logo {
    width: 152px;
    height: 82px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    bottom: 45px;
    height: 50px;
}

.nav-list-item {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: black;
}

#shop {
    color: green;
}

.nav-list-item:hover {
    border-bottom: 3px solid;
    border-bottom-width: 50%;
    animation: navHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    -webkit-animation: navHover;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
}

.side-bar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1;
    background-color: #00472f;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.side-bar-list a {
    color: #fff;
    font-weight: 500;
}

.side-bar .nav-list-item:hover {
    animation: none;
    border: none;
}

.side-bar .close-icon {
    margin-right: 150px;
}

.side-bar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    transition: all 0.2s ease-in-out;
}

.side-bar-list:hover {
    background-color: #0c2c20;
}

.menu {
    display: none;
}

.main {
    margin-top: 160px;
    background-image: linear-gradient(rgba(27,61,35,0.6),rgba(27,61,35,0.6)), url(../images/background-image2.jpg);
    background-size: cover;
}

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.title-section h1 {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 42px;
}

.first-section {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(48, 92, 58, 0.9);
}

.first-content {
    padding: 30px;
}

h3 {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
}

#parag {
    color: #fff;
    font-size: 18px;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
}

.second-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 10px;
    padding: 80px 0px;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-radius: 5px;
    background-color: rgba(48, 92, 58, 0.9);
    padding: 30px;
    width: 400px;
}

h3 {
    color: limegreen;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

p {
    color: #fff;
    font-size: 15px;
    font-family: "Assistant", sans-serif;
    font-weight: 400;
}

h4 {
    color: #c2ffa3;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
}

#phone-num {
    color: #e68f39;
    text-decoration: underline;
}

a.mail {
    color: #e68f39;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a.mail:hover {
    color: limegreen;
    text-decoration: underline;
}

.right {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    border-radius: 5px;
    padding: 30px;
}

.form-input {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

input[type="text"], input[type="email"], textarea {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #333;
    width: calc(100% - 5px);
    box-sizing: border-box;
    letter-spacing: 1px;
}

select {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: black;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    cursor: pointer;
}

.effect {
    border: 0;
    outline: none;
    padding: 7px 0px;
    border-bottom: 2px solid #ccc;
}

.effect ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #185222;
    transition: 0.4s;
}

.effect:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}


#message {
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

.textarea {
    position: relative;
    border: 0;
    border-bottom: 3px solid #185222;
    outline: none;
    resize: none;
    box-sizing: border-box;

}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    border: 1px solid #e68f39;
    background-color: transparent;
    color: #e68f39;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e68f39;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.button:hover {
    box-shadow: inset 400px 0 0 0 #e68f39;
    color: #fff;
}

.footer {
    position: relative;
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 61, 35);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 420px;
    border-bottom: 3px solid #fff;
    padding-bottom: 25px;
    width: 900px;
}

.footer-details {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.footer-logo img {
    width: 112px;
    height: 62px;
}

.footer-details p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.footer-links-svg svg {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.footer-links-svg svg:hover {
    transform: scale(1.3);
}

@keyframes navHover {
    from {
        color: black;
        border-bottom: 0px solid;
    }
    to {
        color: green;
        border-bottom: 4px solid;
    }
}

@-webkit-keyframes navHover {
    from {
        color: black;
        border-bottom: 0px solid;
    }
    to {
        color: green;
        border-bottom: 4px solid;
    }
}

@media screen and (max-width: 915px) {
    .footer-content {
        width: 640px;
        column-gap: 120px;
    }
    
}

@media screen and (max-width: 860px) {
    .footer-content {
        width: 670px;
        column-gap: 150px;
    }
}

@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

    nav {
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .img-logo {
        margin-left: 30px;
        width: 120px;
        height: 62px;
    }

    .menu {
        display: block;
        margin-right: 30px;
    }

    .menu svg {
        width: 50px;
        height: 50px;
    }

    .main {
        margin-top: 100px;
    }
    
    .second-section {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .left {
        width: fit-content;
    }


    .button {
        width: 230px;
    }

    .footer-content {
        width: 540px;
        column-gap: 65px;
    }
}

@media screen and (min-width: 310px) and (max-width: 550px) {
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .side-bar {
        width: 100%;
    }

    .side-bar .close-icon {
        margin-right: 250px;
    }

    .menu {
        display: block;
    }

    .title-section h1 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }

    #parag {
        font-size: 15px;
    }

    #form-title {
        font-size: 15px;
    }

    input[type="text"], input[type="email"], #message, textarea, select {
        font-size: 12px;
    }

    .button {
        font-size: 17px;
        padding: 7px;
        width: 200px;
    }

    .footer-content {
        width: 260px;
        column-gap: 55px;
    }

    .footer-logo img {
        width: 62px;
        height: 35px;
    }

    .footer-details {
        column-gap: 10px;
    }

    .footer-details p {
        font-size: 9px;
    }

    .footer-links {
        column-gap: 6px;
    }

    .footer-links-svg svg {
        width: 13px;
        height: 13px;
    }
}

@media screen and (max-width: 309px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-input {
        width: 30vh;
    }

    h3 {
        font-size: 20px;
    }

    #parag {
        font-size: 15px;
    }

    #form-title {
        font-size: 15px;
    }

    input[type="text"], input[type="email"], #message, textarea, select {
        font-size: 12px;
    }

    .button {
        font-size: 15px;
        padding: 7px;
    }

    .message-parag {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 30vh;
    }

    .button {
        width: 130px;
    }

    .footer-content {
        width: 210px;
        column-gap: 35px;
    }

    .footer-logo img {
        width: 42px;
        height: 25px;
    }

    .footer-details {
        column-gap: 15px;
    }

    .footer-details p {
        font-size: 7px;
    }

    .footer-links {
        column-gap: 5px;
    }

    .footer-links-svg svg {
        width: 10px;
        height: 10px;
    }
}